<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block title %}更新你的头像{% endblock %}
    {% block page_content %}
        <div class="page-header">
                <h1 style="font-size: 4rem">Edit your profile picture here!</h1>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">{{ wtf.quick_form(form) }}</div>
        </div>
    {% endblock %}
</body>
</html>