<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>resetpassword</title>
</head>
<body style="background: url(http://flask.pocoo.org/static/ship.png) no-repeat center right; font-size: 2rem">
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block page_content %}
        <h1>Click to reset your password!</h1>
    <p style="height: 400px">
        {{ url_for('users.reset', token=token, _external=True) }}?email={{ user_obj.email }}
    </p>
    <br>
    {% endblock %}
</body>
</html>