<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <style>
          .img{
            /*width: 100px;*/
            /*height: 150px;*/
                width:100%;
                height:200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
        }
    </style>
</head>
<body>

    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% import "_macros.html" as macros %}
    {% block page_content %}
        <div class="page-header">
            <h1 class="bs-component">{{ current_user.username }},欢迎您!</h1>

        </div>
        {% for user in userlist %}
            <div class="col-lg-4 ">
                <div class="card mb-3">
                    <h3 class="card-header">username: {{user.username}}</h3>

                    {% if user.profile_picture != '0'  %}
                    <img class="img" style="background-image:url(/static/{{ user.profile_picture }});">
                    {% else %}
                    <img  class="img" style="background-image:url(/static/images/1.jpg);">
                    {% endif %}

                <ul class="list-group list-group-flush">
                  <li class="list-group-item">邮箱：{{user.email}}</li>
                  <li class="list-group-item">电话号码：{{user.phone}}</li>
                  <li class="list-group-item">地址：{{user.location}}</li>
                  <li class="list-group-item">真实姓名：{{user.real_name}}</li>
                  <li class="list-group-item">最后访问时间：{{user.last_seen}}</li>
                    {% if user.confirmed %}
                        <li class="list-group-item">该用户账号已确认</li>
                    {% else %}
                        <li class="list-group-item">该用户账号未确认</li>
                    {% endif %}
                </ul>

            </div>
        </div>

        {% endfor %}
    <div class="col-lg-10  offset-lg-3">
    <div class="pagination">
    {{ macros.pagination_widget(pagination, 'users.userlist') }}
    </div>
        </div>
    {% endblock %}
</body>
</html>